/* use minimalist-style tables as used in the old documentation */
table {
  border-collapse: collapse;
  display: block;
  margin-bottom: var(--ifm-spacing-vertical);
  overflow: auto;
}

table thead tr {
    border-bottom: 1px solid var(--ifm-table-border-color);
  }

table thead {
    background-color: var(--ifm-background-color);
  }

table tr {
    background-color: var(--ifm-table-background);
    border-top: var(--ifm-table-border-width) solid
      var(--ifm-table-border-color);
  }

table tr:nth-child(odd)>td {
    background-color: var(--ifm-table-stripe-background);
    border: none;
  }

table tr:nth-child(even)>td {
    background-color: var(--ifm-background-color);
    border: none;
  }

table tr:last-child {
    border: none;
    border-bottom: 1px solid var(--ifm-table-border-color);
}

table th {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    vertical-align: bottom;
  }

table th {
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #5e6060;
    vertical-align: bottom;
    background-color: var(--ifm-table-head-background);
    color: var(--ifm-table-head-color);
    font-weight: var(--ifm-table-head-font-weight);
  }

table td {
    border: none;
    padding: 10px;
    color: var(--ifm-table-cell-color);
  }

