/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f7a60f;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f7a60f;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


/* apply Bybit's font */
@font-face {
  font-family: 'Bybit';
  src: url('/font/Inter-Regular.ttf');       /* international */
  src: url('/font/NotoSansTC-Regular.otf');  /* zh-TW */
}


body {
  font-family: 'Bybit';
}



/* use minimalist-style tables (as used in the old slate documentation) by default */
table th, table td {
  padding: 5px 10px;
  border: none;
  background-color: var(--ifm-table-head-background);
}

table td {
  padding: 10px;
}

table tr {
  border: none;
}

table tr:first-child {
  border-top: none;
}

table tr:last-child {
  border-bottom: 2px solid var(--ifm-table-border-color);
}


/* blocky table style: blocky borders, no stripes (zebra rows) */
.blocky_table table {
  border-collapse: collapse;
  display: block;
}

.blocky_table tr:nth-child(2n) {
  background-color: var(--ifm-table-head-background);
}

.blocky_table th, .blocky_table table td {
  border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
  padding: var(--ifm-table-cell-padding);
  background-color: var(--ifm-table-head-background);
}

.blocky_table th {
  color: var(--ifm-table-head-color);
  font-weight: var(--ifm-table-head-font-weight);
}


/* tooltip to provide additional information on mouseover/hover */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted white;
  font-style: italic;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 25em;
  border-left: solid;
  border-color: var(--ifm-color-info-dark);
  border-left-width: var(--ifm-alert-border-left-width);
  background-color: #193c47;
  text-align: start;
  padding: 0.4em 1em 0.6em 1em;
  border-radius: 5px;
  /* Fade in */
  transition: 0.2s;
  opacity: 0.2;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  /* Fade in */
  opacity: 1;
}



/* it is also possible to assign a style per .mdx file, by referring to its ID (find it by inspecting the page)
"\2f" = "/"; because CSS classes don't parse the forward slash correctly
html.docs-doc-id-v5/upgrade-guide = html.docs-doc-id-v5\2fupgrade-guide */
/*
html.docs-doc-id-v5\2fupgrade-guide table {
  border-collapse: collapse;
  display: block;
}

html.docs-doc-id-v5\2fupgrade-guide table tr:nth-child(odd)>td {
  background-color: var(--ifm-background-color);
}

html.docs-doc-id-v5\2fupgrade-guide table tr:nth-child(even)>td {
  background-color: var(--ifm-background-color);
}

html.docs-doc-id-v5\2fupgrade-guide th,
  html.docs-doc-id-v5\2fupgrade-guide table td {
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
    padding: var(--ifm-table-cell-padding);
}

html.docs-doc-id-v5\2fupgrade-guide th {
    color: var(--ifm-table-head-color);
    font-weight: var(--ifm-table-head-font-weight);
}
*/


