/* use minimalist-style tables as used in the old documentation */
table th {
  padding: 5px 10px;
  border: none;
  background-color: var(--ifm-background-color);
}

table td {
  padding: 10px;
}

table tr:nth-child(odd)>td {
  background-color: var(--ifm-table-stripe-background);
  border: none;
}

table tr:nth-child(even)>td {
  background-color: var(--ifm-background-color);
  border: none;
}

table tr:first-child {
  border-top: none;
}

table tr:last-child {
  border-bottom: 2px solid var(--ifm-table-border-color);
}